<dl class="config">
  <div class="config__item">
    <dt class="config__prop">
      Path:
    </dt>
    <dd class="config__val">
      {{ config.path }}
    </dd>
  </div>

  <div class="config__item">
    <dt class="config__prop">
      Host:
    </dt>
    <dd class="config__val">
      {{ config.host }}
    </dd>
  </div>

  <div class="config__item">
    <dt class="config__prop">
      Port:
    </dt>
    <dd class="config__val">
      {{ config.port }}
    </dd>
  </div>
</dl>
