<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='./assets/css/styles.css' />
  </head>
  <body>
    {{{body}}}

    <script src="./assets/js/common.js"></script>
  </body>
</html>
